src/main/resources/xsd/GIPP/Dicos/GS/1.0/image_production/image_production.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 (http://www.altova.com) by auriols (C.N.E.S.) -->
<!-- edited with XMLSPY v2004 rel. 2 U (http://www.xmlspy.com) by CNES (CNES) -->
<xs:schema xmlns:gs2="http://gs2.esa.int/doc/1.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:image_production="http://gs2.esa.int/GS/1.0/image_production/" xmlns:base="http://gs2.esa.int/SY/1.0/base/" xmlns:misc="http://gs2.esa.int/SY/1.0/misc/" xmlns:image="http://gs2.esa.int/SY/1.0/image/" xmlns:representation="http://gs2.esa.int/SY/1.0/representation/" targetNamespace="http://gs2.esa.int/GS/1.0/image_production/" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.0">
	<xs:import namespace="http://gs2.esa.int/SY/1.0/base/" schemaLocation="../../../SY/1.0/base/base.xsd"/>
	<xs:import namespace="http://gs2.esa.int/SY/1.0/misc/" schemaLocation="../../../SY/1.0/misc/misc.xsd"/>
	<xs:import namespace="http://gs2.esa.int/SY/1.0/image/" schemaLocation="../../../SY/1.0/image/image.xsd"/>
	<xs:import namespace="http://gs2.esa.int/SY/1.0/representation/" schemaLocation="../../../SY/1.0/representation/representation.xsd"/>
	<xs:simpleType name="A_PRODUCTION_LEVEL">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Archive"/>
			<xs:enumeration value="L1A"/>
			<xs:enumeration value="L1B"/>
			<xs:enumeration value="L1C"/>
			<xs:enumeration value="L2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AN_ACCESS_MEDIUM_TYPE">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DVDROM"/>
			<xs:enumeration value="BLUERAY"/>
			<xs:enumeration value="LTO"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="A_MEDIUM">
		<xs:annotation>
			<xs:documentation>Medium with the type, reference and index of the product on the medium</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MEDIUM_TYPE" type="image_production:AN_ACCESS_MEDIUM_TYPE"/>
			<xs:element name="MEDIUM_REFERENCE" type="image_production:A_MEDIUM_INFORMATION">
				<xs:annotation>
					<xs:documentation>Reference of the medium</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="INDEX_ON_MEDIUM">
				<xs:annotation>
					<xs:documentation>Index of the product on the medium</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="A_MEDIUM_INFORMATION">
		<xs:annotation>
			<xs:documentation>Medium information limited to 15 characters</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="15"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="A_PRODUCT_LABELING">
		<xs:annotation>
			<xs:documentation>The labelling of the products generated by the GPP</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="COMMERCIAL_REFERENCE" type="image_production:A_MEDIUM_INFORMATION">
				<xs:annotation>
					<xs:documentation>The “Commercial Reference” of the medium</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CUSTOMER_CODE" type="image_production:A_MEDIUM_INFORMATION">
				<xs:annotation>
					<xs:documentation>The “Customer Code” of the medium </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="COMMENT" type="image_production:A_MEDIUM_INFORMATION">
				<xs:annotation>
					<xs:documentation>Other information of each product of the medium. If the number of products, N, is greater than ten, only the ten first OTHER_INFO will be printed and the label will be completed by "…"</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="A_CUSTOMER_IDENTIFICATION">
		<xs:sequence>
			<xs:element name="NAME" type="xs:string"/>
			<xs:element name="ADDRESS" type="xs:string"/>
			<xs:element name="EMAIL" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="A_REPORT_RECIPIENT">
		<xs:sequence>
			<xs:element name="RECIPIENT_NAME" type="xs:string"/>
			<xs:element name="FTP" type="misc:A_FTP_ADDRESS">
				<xs:annotation>
					<xs:documentation>FTP address</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="A_DELIVERY_CONDITIONS">
		<xs:sequence>
			<xs:element name="CUSTOMER_IDENTIFICATION" type="image_production:A_CUSTOMER_IDENTIFICATION"/>
			<xs:element name="DELIVERY_MODE" type="image_production:A_DELIVERY_MODE"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="A_DELIVERY_MODE">
		<xs:restriction base="xs:string">
			<xs:enumeration value="DVDROM"/>
			<xs:enumeration value="BLUERAY"/>
			<xs:enumeration value="LTO"/>
			<xs:enumeration value="NETWORK"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AN_IP_REQUEST_ID">
		<xs:annotation>
			<xs:documentation>Image Production request Identification</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="A_PRODUCTION_REQUEST_CONTENT">
		<xs:sequence>
			<xs:element name="SOURCE_IMAGE" type="image:A_DATA_STRIP_ID">
				<xs:annotation>
					<xs:documentation>The image source data characteristics (unique identifier of a Sentinel2 datastrip)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OUTPUT_PRODUCT">
				<xs:annotation>
					<xs:documentation>The output product characteristics</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PROCESSING_LEVEL">
							<xs:simpleType>
								<xs:restriction base="image_production:A_PRODUCTION_LEVEL"/>
							</xs:simpleType>
						</xs:element>
						<xs:element name="PRODUCT_EXTENT">
							<xs:complexType>
								<xs:choice>
									<xs:element name="FULL">
										<xs:annotation>
											<xs:documentation>Full (the entire datastrip is produced)</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="TRUE"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="POLYGON" type="misc:A_LIST_OF_DOUBLE">
										<xs:annotation>
											<xs:documentation>Product extract defined by a polygon (lat, lon) in geographic coordinates. The polygon is defined by a point list. The coordinates of the points are entered as pairs of latitude and longitude values, or X and Y, or other.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="AREA">
										<xs:annotation>
											<xs:documentation>Product extract defined by its center (lat, lon) and number of lines around the center</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="CENTER" type="misc:A_LIST_OF_2_DOUBLE">
													<xs:annotation>
														<xs:documentation>Center (lat, lon)</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="NB_ROW">
													<xs:annotation>
														<xs:documentation>Number of lines around the center</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:int">
															<xs:minInclusive value="0"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:choice>
							</xs:complexType>
						</xs:element>
						<xs:element name="PROCESSING_OPTIONS">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="INVESTIGATION_MODE" type="xs:boolean">
										<xs:annotation>
											<xs:documentation>Flag to indicate if the ProductionRequest is sent in Investigation Mode</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="SPECTRAL_PROCESSING" minOccurs="0">
										<xs:annotation>
											<xs:documentation>List of spectral bands to produce. 
This field is meaningfull for L1 or higher level product. By default all band are produced.</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="BAND_ID" type="image:A_BAND_NUMBER" maxOccurs="unbounded"/>
											</xs:sequence>
										</xs:complexType>
										<xs:unique name="band_id_unique">
											<xs:selector xpath="BAND_ID"/>
											<xs:field xpath="."/>
										</xs:unique>
									</xs:element>
									<xs:element name="RESTORATION" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Restoration. If not provided, flag = “false” is used</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="SCENARIO_LIST" minOccurs="0">
													<xs:annotation>
														<xs:documentation>Restoration scenario for each spectral band which is restored. Should exist only if flag = true</xs:documentation>
													</xs:annotation>
													<xs:complexType>
														<xs:sequence>
															<xs:element name="SCENARIO" maxOccurs="unbounded">
																<xs:annotation>
																	<xs:documentation>Restoration scenario for the band band_id</xs:documentation>
																</xs:annotation>
																<xs:complexType>
																	<xs:simpleContent>
																		<xs:extension base="image:A_RESTORATION_SCENARIO">
																			<xs:attribute name="band_id" type="image:A_BAND_NUMBER" use="required"/>
																		</xs:extension>
																	</xs:simpleContent>
																</xs:complexType>
															</xs:element>
														</xs:sequence>
													</xs:complexType>
													<xs:unique name="band_id_restoration_unique">
														<xs:selector xpath="./SCENARIO"/>
														<xs:field xpath="@band_id"/>
													</xs:unique>
												</xs:element>
											</xs:sequence>
											<xs:attribute name="flag" type="xs:boolean" use="required">
												<xs:annotation>
													<xs:documentation>Flag to indicate if restoration must be performed</xs:documentation>
												</xs:annotation>
											</xs:attribute>
										</xs:complexType>
									</xs:element>
									<xs:element name="FINAL_REPRESENTATION" type="representation:AN_EPSG_CODE" minOccurs="0">
										<xs:annotation>
											<xs:documentation>This field is meaningfull for L1C or higher level. By default UTM projection is used.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="EPHEMERIS_TO_USE" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Ephemeris to use for the processing. By default “AUTO” is used</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
											<xs:restriction base="xs:string">
												<xs:enumeration value="PVT_DATA"/>
												<xs:enumeration value="AUTO"/>
											</xs:restriction>
										</xs:simpleType>
									</xs:element>
									<xs:element name="QUALITY_CONTROL" type="xs:boolean" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Flag to indicate if final quality control must be performed. By default “false” is used,</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="IMAGE_COMPRESSION_TYPE" type="image:AN_IMAGE_COMPRESSION_TYPE">
										<xs:annotation>
											<xs:documentation>  </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="GEOMETRIC_MODEL_REFINING" type="xs:boolean" minOccurs="0">
										<xs:annotation>
											<xs:documentation>Flag to indicate if geometric model refining  must be performed. By default “true” is used.</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PRODUCT_FORMAT" type="image:A_PRODUCT_DIMAP_FORMAT"/>
						<xs:element name="PRODUCT_LABELING" type="image_production:A_PRODUCT_LABELING">
							<xs:annotation>
								<xs:documentation>Complementary product label information</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="DELIVERY_CONDITIONS" type="image_production:A_DELIVERY_CONDITIONS">
				<xs:annotation>
					<xs:documentation>Delivery conditions and progress report recipients</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PROGRESS_REPORT_RECIPIENTS" type="image_production:A_REPORT_RECIPIENT" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="A_PROCESSING_STATUS">
		<xs:restriction base="xs:string">
			<xs:enumeration value="COMPLETED"/>
			<xs:enumeration value="STOPPED"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
